$values: $margin-values;
$property-name: margin;
$property-names: (margin, margin-left, margin-right, margin-top, margin-bottom);

@include variables-from-0($property-name, $values);

@each $property-name in $property-names {
  @include globals-from-0($property-name, $values);
  @include responsive-globals-from-0($property-name, $values);
}