$class-name: l-flex;
.#{$class-name} {
  display: flex;

  @each $value in (wrap, nowrap, wrap-reverse) {
    &--flex-wrap-#{$value} {
      flex-wrap: $value;
    }
  }

  @each $value in (row, row-reverse, column, column-reverse) {
    &--flex-direction-#{$value} {
      flex-direction: $value;
    }
  }

  @each $value in (flex-start, flex-end, center, space-between, space-around, space-evenly) {
    &--justify-content-#{$value} {
      justify-content: $value;
    }
  }

  @each $value in (stretch, flex-start, flex-end, center, baseline) {
    &--align-items-#{$value} {
      align-items: $value;
    }
  }

  @each $value in (stretch, flex-start, flex-end, center, space-between, space-around, space-evenly) {
    &--align-content-#{$value} {
      align-content: $value;
    }
  }

  &__item {
    @for $i from 0 through 12 {
      &--#{$i} {
        flex-grow: #{$i};
      }
    }
  }
}

$media-filter-responsive: map-get($media-filters, "responsive");
@each $key, $value in map-get($media-filter-responsive, "breakpoints") {
  $after: "";
  $before: "";
  @if map-get($media-filter-responsive, "position") == "after" {
    $after: map-get($media-filter-responsive, "separator") + $key;
  } @else {
    $before: $key + map-get($media-filter-responsive, "separator");
  }

  @media (min-width: #{$value}) {
    .#{$before}#{$class-name} {
      @each $value in (wrap, nowrap, wrap-reverse) {
        &--flex-wrap-#{$value}#{$after} {
          flex-wrap: $value;
        }
      }

      @each $value in (row, row-reverse, column, column-reverse) {
        &--flex-direction-#{$value}#{$after} {
          flex-direction: $value;
        }
      }

      @each $value in (flex-start, flex-end, center, space-between, space-around, space-evenly) {
        &--justify-content-#{$value}#{$after} {
          justify-content: $value;
        }
      }

      @each $value in (stretch, flex-start, flex-end, center, baseline) {
        &--align-items-#{$value}#{$after} {
          align-items: $value;
        }
      }

      @each $value in (stretch, flex-start, flex-end, center, space-between, space-around, space-evenly) {
        &--align-content-#{$value}#{$after} {
          align-content: $value;
        }
      }

      &__item {
        @for $i from 0 through 12 {
          &--#{$i}#{$after} {
            flex-grow: #{$i};
          }
        }
      }
    }
  }
}